#frontpage-carousel {
  width: 1000px;
}

.carousel-caption {
  text-align: left;
  background-color: black;
  opacity: .7;
  padding: 2%;
  width: 100%;
}

.carousel-inner>.item>img {
  width: 100%;
}

.jumbotron {
 background-color: #FFF; 
}

.round-image {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    position:relative;

}

#charlie-img {
  left: 20%;
}
#dave-img {
  left: 40%;
}
#andrew-img {
  left: 0%;
  top: -40px;
}
#john-img {
  left: 35%;
  top: -70px;
}
#cian-img {
  left: 20%;
  top: -50px;
}

#team-img {
  width: 100%;
}

#about-practice-text {
	text-align: left
}

#inner-map-div {
	text-align: left;
	margin-left: 15%;
}

#opening-hours-div {
	float:right;
	margin-right: 20%;
}
#opening-hours-div h2 {
  text-align: right;
}

#phone-fax-email-div {
  text-align: center;
  margin-top: 5%;
}

table.opening-hours {
  margin: auto;
}

table.opening-hours td {
	border-width: 1px;
	padding: 8px;
	border-style: none;
	border-color: #666666;
	background-color: #ffffff;
	height: 1px;
}

td.right-align {
	text-align: right;
}

table.opening-hours td div {
	height:100%;
	position:relative;
}

td div.mon {
	background-color:rgb(118, 252, 118);
	width:12em;	
}

td div.tue {
	background-color:rgb(118, 252, 118);
	width:9em;	
}

td div.sat {
	background-color:rgb(118, 252, 118);
	width:7em;	
}

td div.sun {
	background-color:rgb(255, 182, 182);
	width:9em;	
}


