<div id="opening-hours-div">
<h2>Opening Hours</h2>
<table class="opening-hours">
  <colgroup>
    <col />
	<col />
  </colgroup>

  <tr>
    <td class="right-align">Monday</td>
    <td ><div class="mon">&nbsp; 9.00 - 20.00</div></td>
  </tr>
  <tr>
    <td class="right-align">Tuesday</td>
      <td rowspan="4" ><div class="tue">&nbsp; 9.00 - 17.00</div></td>
  </tr>
  <tr>
    <td class="right-align"> Wednesday</td>
  
  </tr>
  <tr>
    <td class="right-align"> Thursday</td>
   
  </tr>
  <tr>
    <td class="right-align"> Friday</td>
    
  </tr>
  <tr>
    <td class="right-align">Saturday</td>
    <td ><div class="sat">&nbsp; 9.00 - 12.30</div></td>
  </tr>
  <tr>
    <td class="right-align">Sunday</td>
    <td ><div class="sun">&nbsp; Closed</div></td>
  </tr>
</table>
</div>
