---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-sm-6">
	<div class="container">
	  <div class="row">
        <img id="charlie-img" class="round-image" src="./images/charlie.jpg">
      </div>
	  <div class="row">
        <img id="dave-img" class="round-image" src="./images/dave_crop.jpg">
      </div>
	  <div class="row">
        <img id="andrew-img" class="round-image" src="./images/andrew_crop.jpg">
      </div>
	  <div class="row">
        <img id="john-img" class="round-image" src="./images/john_crop.jpg">
      </div>
	  <div class="row">
        <img id="cian-img" class="round-image" src="./images/cian_crop.jpg">
      </div>
    </div>
    </div>
    
    <div id="about-content" class="col-sm-6">
    {{ content }}
	</div>
  </div>
</div>
